body {
    background-color: white;
}
h1{
    color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.parallax {
    background-image: url(../images/sample_image.jpg); 
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.test-box{
    height:1000px;
    background-color: red;
    font-size: 36px;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top-style: solid;
}
li a:hover {
    text-decoration: red underline;
    text-underline-offset: 10px;
}
.side-column {
    padding: 20px;
    width: 300px;
}
.main-body {
    border: 20px
}
